.root {
    -fx-font-family: System;
    -fx-font-size: 18pt;
}

.time-text{
    -fx-font-weight: bold;
}

.clock-button{
    -fx-background-color: #555555;
    -fx-text-fill: white;
    -fx-background-radius: 30;
}

.validate-id-button{
    -fx-background-radius: 30;
    -fx-background-color: #555555;
    -fx-text-fill: white;
}

.settings-button{
    -fx-background-radius: 30;
    -fx-background-color: #555555;
    -fx-text-fill: white;
}

.input-field{
    -fx-background-radius: 30pt;
}